.bg {
    background-color: rgb(231 219 212);
}

.img {
    height: 350px;
    width: 300px;
    transition: all 2s ease;
}

.img2 {
    height: auto;
    width: auto;
}

@media only screen and (max-width: 640px) {
    .img {
        object-fit: cover;
        height: 250px;
    }
}